<p class="page__meta" style="font-size:1em;display: inline;">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ current.date | date: "%B %d, %Y" }}</time>
    {% include tag-list-only.html  %}
    <br>
    <span style="font-size:70%;"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</span>
    <!-- {% if site.data.ui-text[site.locale].meta_label %}
      <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
    {% endif %} -->
    <!-- {% include page__taxonomy.html %} -->
    <!-- {% include page__date.html %} -->
  </p>
  
  <!-- {% if page.collection == 'teaching' %}
    <p> {{ page.type }}, <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
  {% elsif page.venue and page.date %}
    <p>Published in <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
  {% elsif page.date %}
    <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
  {% endif %} -->